/* head */
header {
  border-bottom: 2px solid;
  height: 15vh;
}

/* content */

main {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

main>* {
  outline: 1px solid;
}

.gradient--viewer {
  width: 100%;
}

.gradient {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  width: 50vw;
  height: 50vh;
  gap: 20px;
  padding: 20px;

}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}